{% extends "layout/main.html" %} {% block content %}

<div class="bg-white p-20 h-screen font-serif">
  <form action="" class="space-y-2 bg-yellow-50 rounded-md p-20" method="post">
    <header class="mb-3 text-2xl text-center font-bold">
      Tambahkan Kategori
    </header>

    <div class="w-full rounded-2xl bg-white px-4 ring-2 ring-gray-200">
      <input
        class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
        autofocus
        type="text"
        placeholder="Nama Kategori"
        name="name"
        value="{{ request.form.name }}"
      />
    </div>

    <button
      class="w-52 rounded-2xl border-b-4 border-b-amber-800 bg-amber-800 py-3 font-bold text-white hover:bg-amber-800 active:translate-y-[0.125rem] active:border-b-amber-800"
    >
      Tambah
    </button>

    {% if success == True %}
    <p class="text-green-500 font-semibold text-xl">Kategori berhasil dibuat</p>
    {% endif %}
  </form>
</div>

<script>
  const success = "{{success}}";
  if (success === "True")
    setTimeout(() => {
      window.location.replace("/");
    }, 1000);
</script>
{% endblock %}
